<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input (keyup)="searchHospital( inputHospital.value)" #inputHospital class="form-control" type="text" placeholder="Buscar Hospital...">

      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <br>
      <i class="fa fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div align="right">
          <button type="button" class="btn btn-primary btn-rounded" (click)="createHospital()">
            <i class="fa fa-plus"></i>  Crear Hospital
          </button>

        </div>

        <h3 class="card-title">
          Usuarios Registrados ( <small>{{total}}</small> )
        </h3>

        <table class="table table-hover">
          <thead>
            <th>Foto</th>
            <th>Hospital</th>
            <th width="120" ></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of hospitalList">
              <td class="w70"><img (click)="showModal( item._id)" [src]="item.img|image:'hospital' " alt="" class="pointer img-50"  ></td>
              <td>
                <input [(ngModel)]="item.nombre"  type="text" name="" id="" class="form-control">

              </td>
              <td width="120">
                <button (click)="saveHospital( item )" class="btn btn-primary mr-1">
                  <i class="fa fa-save"></i>
                </button>
                <button (click)="deleteHospital( item )" class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

