<div class="row">

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Usuarios</h4>

        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let item of userList" [routerLink]="[ '/usuarios']" class="pointer">
              <td class="w70"><img [src]="item.img|image" alt="" class="pointer img-50"></td>
              <td>{{item.nombre}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospitales</h4>
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let item of hospitalList" [routerLink]="[ '/hospitales']" class="pointer">
              <td class="w70"><img [src]="item.img|image:'hospital' " alt="" class="pointer img-50"></td>
              <td>{{item.nombre}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Medicos</h4>

        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let item of medicList" [routerLink]="[ '/medicos']" class="pointer">
              <td class="w70"><img [src]="item.img|image:'medico' " alt="" class="pointer img-50"></td>
              <td>{{item.nombre}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>



</div>